<footer
  class="re__container re__footer lazyloaded"
  data-script="https://staticfile.batdongsan.com.vn/js/binnova/filestatic.ver69fcc55f.msvbds.FrontEnd.Footer.min.js"
  data-func="new window.FrontEnd.Footer()"
>
  <div class="re__container--lg">
    <div class="re__display-inline-block">
      <div class="re__col--lg-4 re__padding-left--0">
        <div class="re__footer-logo">
          <a href="#">
            <img
              src="https://staticfile.batdongsan.com.vn/images/logo/standard/black/logo_gray-5.svg"
              error-image-src="https://staticfile.batdongsan.com.vn/images/logo/standard/black/logo_gray-5.png"
              alt="Website số 1 về bất động sản"
              title="Batdongsan.com.vn"
            />
          </a>
        </div>

        <div class="re__typo-expressive--md">
          CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM
        </div>
        <div class="re__display-flex re__address">
          <i class="re__icon-location"></i>

          <span class="re__typo-expressive--md"
            >Tầng 31, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà
            Nội</span
          >
        </div>
        <div class="re__display-flex re__address">
          <i class="re__icon-phone-call"></i>

          <span class="re__typo-expressive--md re__text-phone"
            >(024) 3562 5939 - (024) 3562 5940</span
          >
        </div>

        <div class="re__mg-top--40 re__map-store">
          <a href="#" class="re__mg-right--17">
            <img
              class="lazyloaded re__google-play"
              data-src="https://staticfile.batdongsan.com.vn/images/mobile/footer/google-play.png"
              ignore-error=""
              error-image-src="https://staticfile.batdongsan.com.vn/images/mobile/footer/google-play.png"
              src="https://staticfile.batdongsan.com.vn/images/mobile/footer/google-play.png"
            />
          </a>
          <a href="#" rel="nofollow">
            <img
              class="lazyloaded re__app-store"
              data-src="https://staticfile.batdongsan.com.vn/images/mobile/footer/app_store.png"
              ignore-error=""
              error-image-src="https://staticfile.batdongsan.com.vn/images/mobile/footer/app_store.png"
              src="https://staticfile.batdongsan.com.vn/images/mobile/footer/app_store.png"
            />
          </a>
        </div>
      </div>
      <div
        class="re__col--lg-8 re__padding-right--0 re__col-hotline"
        style="overflow: visible"
      >
        <div class="re__col--lg-3 re__padding--0">
          <div class="re__hotline">
            <a href="tel:0948523010"><i class="re__icon-phone-call"></i></a>
            <div class="re__right">
              <a href="tel:0948523010"
                ><span class="re__typo-body--sm">Hotline</span></a
              >
              <a href="tel:0948523010"
                ><span class="re__typo-heading--xs">0948523010</span></a
              >
            </div>
          </div>
        </div>
        <div class="re__col--lg-4 re__padding-left--0">
          <div class="re__hotline">
            <a href="#"><i class="re__icon-user-question"></i></a>
            <div class="re__right">
              <a href="#" rel="nofollow"
                ><span class="re__typo-body--sm">Hỗ trợ khách hàng</span></a
              >
              <a href="#" rel="nofollow"
                ><span class="re__typo-heading--xs">lnk.com.vn</span></a
              >
            </div>
          </div>
        </div>
        <div class="re__col--lg-5">
          <div class="re__hotline">
            <a rel="nofollow" href="#"><i class="re__icon-mail-box--lg"></i></a>
            <div class="re__right">
              <a rel="nofollow" href="#"
                ><span class="re__typo-body--sm">Chăm sóc khách hàng</span></a
              >
              <a rel="nofollow" href="#"
                ><span class="re__typo-heading--xs">lnk.com.vn</span></a
              >
            </div>
          </div>
        </div>
        <div class="re__link re__link-tablet">
          <div class="re__col--lg-3 re__padding--0">
            <div class="re__typo-expressive--md re__title js__branch-show">
              HƯỚNG DẪN
            </div>
            <div guide-list="" class="re__list-menu--footer js__branch-detail">
              <ul>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Về chúng tôi</a
                  >
                </li>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Báo giá và hỗ trợ</a
                  >
                </li>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Câu hỏi thường gặp</a
                  >
                </li>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Góp ý báo lỗi</a
                  >
                </li>
                <li>
                  <a href="#" class="re__link-se">Sitemap</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="re__col--lg-3 re__padding-left--0">
            <div class="re__typo-expressive--md re__title js__branch-show">
              QUY ĐỊNH
            </div>
            <div rule-list="" class="re__list-menu--footer js__branch-detail">
              <ul>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Quy định đăng tin</a
                  >
                </li>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Quy chế hoạt động</a
                  >
                </li>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Điều khoản thỏa thuận</a
                  >
                </li>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Chính sách bảo mật</a
                  >
                </li>
                <li>
                  <a href="#" rel="nofollow" class="re__link-se"
                    >Giải quyết khiếu nại</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="re__branch-tablet-none">
            <div class="re__title re__typo-expressive--md js__branch-show">
              Chi nhánh
              <span class="re__typo-expressive--md">Batdongsan.com.vn</span>
            </div>
            <ul branch-list="" class="re__branch js__branch-detail">
              <li>
                <div class="re__typo-expressive--sm">
                  Chi nhánh TP. Hồ Chí Minh
                </div>
                <div class="re__typo-body--sm">
                  Đại Học Tôn Đức Thắng, Quận 7, TP.Hồ Chí Minh
                  <br />
                  Hotline: 0948523010 - Mobile: 094 8523 010
                </div>
              </li>
              <li>
                <div class="re__typo-expressive--sm">Chi nhánh Đà Nẵng</div>
                <div class="re__typo-body--sm">
                  Tầng 9, tòa nhà Vĩnh Trung Plaza, số 255 – 257 Hùng Vương,
                  phường Vĩnh Trung, quận Thanh Khê, TP. Đà Nẵng
                  <br />
                  Hotline: 1900 1881 - Mobile: 0904 907 279
                </div>
              </li>
              <li>
                <div class="re__typo-expressive--sm">Chi nhánh Hải Phòng</div>
                <div class="re__typo-body--sm">
                  Phòng 502, TD Business Center, lô 20A Lê Hồng Phong, quận Ngô
                  Quyền, TP. Hải Phòng
                  <br />
                  Hotline: 1900 1881 - Mobile: 0903 456 322
                </div>
              </li>
              <li>
                <div class="re__typo-expressive--sm">Chi nhánh Nha Trang</div>
                <div class="re__typo-body--sm">
                  Tầng 6, Tòa nhà CTCP Điện Lực Khánh Hòa, 11 Lý Thánh Tôn,
                  Phường Vạn Thạnh, TP Nha Trang, Khánh Hòa
                  <br />
                  Hotline: 1900 1881 - Mobile: 0902 169 295
                </div>
              </li>
              <li>
                <div class="re__typo-expressive--sm">Chi nhánh Vũng Tàu</div>
                <div class="re__typo-body--sm">
                  Tầng 4, tòa nhà ACB, số 12 Hoàng Hoa Thám, phường 2, TP. Vũng
                  Tàu, tỉnh Bà Rịa - Vũng Tàu
                  <br />
                  Hotline: 1900 1881 - Mobile: 0904 509 293
                </div>
              </li>
              <li>
                <div class="re__typo-expressive--sm">Chi nhánh Bình Dương</div>
                <div class="re__typo-body--sm">
                  Phòng 10, tầng 16, Becamex Tower, số 230 Đại lộ Bình Dương,
                  P.Phú Hòa, TP.Thủ Dầu Một, tỉnh Bình Dương
                  <br />
                  Hotline: 1900 1881 - Mobile: 0919 255 580
                </div>
              </li>
            </ul>
          </div>

          <div
            class="re__col--lg-6 re__padding-right--0"
            style="padding: 0px; overflow: visible"
          >
            <div class="re__col--footer-mail">
              <div class="re__typo-expressive--md">ĐĂNG KÝ NHẬN TIN</div>
              <div class="re__input--md re__input-btn-icon-right--md">
                <span
                  onclick="this.parentElement.querySelector('input[onkeyup]').value = ''; this.parentElement.querySelector('input[onkeyup]').dispatchEvent(new Event('blur')); this.parentElement.querySelector('input[onkeyup]').classList.remove('re__input-focus'); this.classList.add('re__hidden-icon');"
                  class="re__input-icon-close re__hidden-icon"
                  ><span class="path1"></span><span class="path2"></span></span
                ><i
                  input-icon=""
                  class="re__input-icon re__icon-send"
                  id="newsletterRegister-footer"
                ></i>
                <div class="re__error-message" id="newsletterRegister-footer">
                  <span
                    class="field-validation-valid"
                    data-valmsg-for="email-footer"
                    data-valmsg-replace="true"
                  ></span>
                </div>
                <div class="re__info-message"></div>
              </div>
            </div>
            <div class="re__footer-international">
              <div class="re__typo-expressive--md">QUỐC GIA &amp; NGÔN NGỮ</div>

              <div class="re__list-international" style="overflow: visible">
                <div
                  list-international=""
                  class="re__select js__bds-select-container"
                  style="position: relative; height: unset"
                >
                  <div class="re__select--sm" style="cursor: pointer">
                    <span
                      class="re__filter-label select-text js__bds-select-button"
                      style=""
                    >
                      <i class="re_icon-world"></i>
                      <span
                        class="select-text-content js__bds-select-button-current-text"
                        style="width: 70px"
                        >Việt Nam</span
                      >
                    </span>
                    <input id="hdCboLanguages" type="hidden" value="" />
                  </div>
                  <div
                    class="advance-select-options re__select-dropdown re__bds-select-list js__bds-select-list js__bds-select-dropdown mCustomScrollBox mCS-light mCSB_vertical"
                    style="top: calc(100% + 3px)"
                  >
                    <div
                      class="re__dropdown-no-art--sm js__bds-select-list js__bds-select-link"
                      style="min-width: 124px"
                    >
                      <a
                        class="advance-options current"
                        href="#"
                        title="Việt Nam"
                      >
                        <i class="re__icon-vn" alt="Việt Nam">
                          <span class="path1"></span>
                          <span class="path2"></span> </i
                        ><span class="re__typo-body--md">Việt Nam</span>
                      </a>
                      <a
                        class="advance-options"
                        href="#"
                        title="Singapore Real Estate"
                      >
                        <i
                          class="re__icon-singapore"
                          alt="Singapore Real Estate"
                        >
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span> </i
                        ><span class="re__typo-body--md">Singapore</span>
                      </a>
                      <a
                        class="advance-options"
                        href="#"
                        title="Malaysia Real Estate"
                      >
                        <i class="re__icon-malaysia" alt="Malaysia Real Estate">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                          <span class="path6"></span>
                          <span class="path7"></span>
                          <span class="path8"></span> </i
                        ><span class="re__typo-body--md">Malaysia</span>
                      </a>
                      <a
                        class="advance-options"
                        href="#"
                        title="Thailand Real Estate"
                      >
                        <i
                          class="re__icon-costa-rica"
                          alt="Thailand Real Estate"
                        >
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span> </i
                        ><span class="re__typo-body--md">Thailand</span>
                      </a>
                      <a
                        class="advance-options"
                        href="#"
                        title="Indonesia Real Estate"
                      >
                        <i
                          class="re__icon-indonesia"
                          alt="Indonesia Real Estate"
                        >
                          <span class="path1"></span>
                          <span class="path2"></span> </i
                        ><span class="re__typo-body--md">Indonesia</span>
                      </a>
                      <a
                        class="advance-options"
                        href="#"
                        title="Australia Real Estate"
                      >
                        <i class="re__icon-australia">
                          <img
                            src="https://staticfile.batdongsan.com.vn/images/icons/ic_au.svg"
                            class="re__icon-image"
                            alt="Australia Real Estate"
                          /> </i
                        ><span class="re__typo-body--md">Australia</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div style="clear: both"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="re__cell_divider" />
    <div class="re__display-inline-block re__width-full re__branch-tablet">
      <div class="re__branch-show re__typo-expressive--md js__branch-show">
        <i class="re__icon-chevron-down--sm js__downarr"></i>
        <i
          class="re__icon-chevron-right--sm js__uparr"
          style="display: none"
        ></i>
        <span> Xem chi nhánh của Batdongsan.com.vn</span>
      </div>
      <div class="re__col--lg-4 js__branch-detail">
        <div class="re__branch re__pd-left--8">
          <div class="re__typo-expressive--sm">Chi nhánh TP. Hồ Chí Minh</div>
          <div class="re__typo-body--sm">
            Tầng 3, Tháp B tòa nhà Viettel Complex, 285 Cách Mạng Tháng Tám,
            Phường 12, Quận 10, TP. Hồ Chí Minh
            <br />
            Hotline: 1900 1881 - Mobile: 0904 893 279
          </div>
        </div>
        <div class="re__branch re__pd-left--8">
          <div class="re__typo-expressive--sm">Chi nhánh Đà Nẵng</div>
          <div class="re__typo-body--sm">
            Tầng 9, tòa nhà Vĩnh Trung Plaza, số 255 – 257 Hùng Vương, phường
            Vĩnh Trung, quận Thanh Khê, TP. Đà Nẵng
            <br />
            Hotline: 1900 1881 - Mobile: 0904 907 279
          </div>
        </div>
      </div>
      <div class="re__col--lg-4 js__branch-detail">
        <div class="re__branch">
          <div class="re__typo-expressive--sm">Chi nhánh Hải Phòng</div>
          <div class="re__typo-body--sm">
            Phòng 502, TD Business Center, lô 20A Lê Hồng Phong, quận Ngô Quyền,
            TP. Hải Phòng
            <br />
            Hotline: 1900 1881 - Mobile: 0903 456 322
          </div>
        </div>
        <div class="re__branch">
          <div class="re__typo-expressive--sm">Chi nhánh Vũng Tàu</div>
          <div class="re__typo-body--sm">
            Tầng 4, tòa nhà ACB, số 12 Hoàng Hoa Thám, phường 2, TP. Vũng Tàu,
            tỉnh Bà Rịa - Vũng Tàu
            <br />
            Hotline: 1900 1881 - Mobile: 0904 509 293
          </div>
        </div>
      </div>
      <div class="re__col--lg-4 js__branch-detail">
        <div class="re__branch">
          <div class="re__typo-expressive--sm">Chi nhánh Bình Dương</div>
          <div class="re__typo-body--sm">
            Phòng 10, tầng 16, Becamex Tower, số 230 Đại lộ Bình Dương, P.Phú
            Hòa, TP.Thủ Dầu Một, tỉnh Bình Dương
            <br />
            Hotline: 1900 1881 - Mobile: 0919 255 580
          </div>
        </div>
        <div class="re__branch">
          <div class="re__typo-expressive--sm">Chi nhánh Nha Trang</div>
          <div class="re__typo-body--sm">
            Tầng 6, Tòa nhà CTCP Điện Lực Khánh Hòa, 11 Lý Thánh Tôn, Phường Vạn
            Thạnh, TP Nha Trang, Khánh Hòa
            <br />
            Hotline: 1900 1881 - Mobile: 0902 169 295
          </div>
        </div>
      </div>
    </div>

    <hr class="re__cell_divider" />
    <div class="re__display-inline-block re__bottom-footer re__border-tablet">
      <div class="re__col--lg-8 re__display-inline-block">
        <div class="re__typo-body--sm re__col--left">
          <span
            class="re__typo-body--sm re__mg-bottom--8 re__display-inline-block"
            >Copyright © 2007 - 2024 Batdongsan.com.vn</span
          >
          <br />Giấy ĐKKD số 0104630479 do Sở KHĐT TP Hà Nội cấp lần đầu ngày
          02/06/2010 <br />Giấy phép thiết lập trang thông tin điện tử tổng hợp
          trên mạng số 191/GP-TTĐT do Sở TTTT Hà Nội cấp ngày 31/08/2023
        </div>

        <div class="re__typo-body--sm re__col--right">
          Chịu trách nhiệm nội dung GP ICP: Bà Đặng Thị Hường
          <br />Chịu trách nhiệm sàn GDTMĐT: Ông Bạch Dương <br />Quy chế, quy
          định giao dịch có hiệu lực từ 08/08/2023 <br />Ghi rõ nguồn
          "Batdongsan.com.vn" khi phát hành lại thông tin từ website này.
        </div>
      </div>
      <div class="re__col--lg-4">
        <a href="#" rel="nofollow" target="_blank">
          <img
            src="https://staticfile.batdongsan.com.vn/images/newhome/da-dang-ki-bct.svg"
            class="bct"
          />
        </a>
        <div class="re__right-fix">
          <a href="#" rel="nofollow" target="_blank">
            <i class="re__icon-facebook--lg"></i>
            <i class="re__icon-facebook-hover--lg"></i>
          </a>
          <a href="#" rel="nofollow" target="_blank">
            <i class="re__icon-youtube--lg"></i>
            <i class="re__icon-youtube-hover--lg"></i>
          </a>
          <a href="#" rel="nofollow" target="_blank">
            <i class="re__icon-zalo--lg">
              <span class="path1"></span><span class="path2"></span>
            </i>
            <i class="re__icon-zalo-hover--lg">
              <span class="path1"></span><span class="path2"></span>
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="re__mobile-version re__hide-item" style="display: none">
    <a href="javascript:void(0)" class="re__container--lg js__switch-mobile">
      <i class="re__icon-mobile--sm"></i
      ><span class="re__typo-expressive--md">Quay về bản mobile</span>
    </a>
  </div>
</footer>
