<div class="js__box-link-footer">
  <div
    class="re__box-link-footer lazyloaded"
    data-script="https://staticfile.batdongsan.com.vn/js/layout/web/filestatic.ver69fcc55f.msvbds.FrontEnd.BoxLink.Footer.min.js"
    data-func="new FrontEnd.BoxLink.Footer.BoxLinkFooter()"
  >
    <div class="content-box-introduction">
      <div class="intro-item">
        <div class="intro-img">
          <a href="/nha-dat-ban" title="Bất động sản bán"
            ><img
              src="https://staticfile.batdongsan.com.vn/images/box-link-footer/ForSale.svg"
              alt="Bất động sản bán"
          /></a>
        </div>
        <div class="intro-title">Bất động sản bán</div>
        <div class="intro-desc">
          Bạn có thể tìm thấy ngôi nhà mơ ước hoặc cơ hội đầu tư hấp dẫn thông
          qua lượng tin rao lớn, uy tín về các loại hình
          <a
            href="/nha-dat-ban"
            target="_blank"
            title="Bất động sản bán"
            class="re__link-pr"
            >bất động sản bán</a
          >
          tại Việt Nam, bao gồm bán nhà riêng,
          <a
            href="/ban-nha-mat-pho"
            target="_blank"
            title="Bán nhà mặt tiền"
            class="re__link-pr"
            >bán nhà mặt tiền</a
          >, bán căn hộ chung cư, bán biệt thự, bán đất,
          <a
            href="/ban-shophouse-nha-pho-thuong-mai"
            target="_blank"
            title="Bán shophouse"
            class="re__link-pr"
            >bán shophouse</a
          >
          và các loại hình BĐS khác.
        </div>
      </div>
      <div class="intro-item">
        <div class="intro-img">
          <a href="/nha-dat-cho-thue" title="Bất động sản cho thuê"
            ><img
              src="https://staticfile.batdongsan.com.vn/images/box-link-footer/ForRent.svg"
              alt="Bất động sản cho thuê"
          /></a>
        </div>
        <div class="intro-title">Bất động sản cho thuê</div>
        <div class="intro-desc">
          Cập nhật thường xuyên và đầy đủ các loại hình
          <a
            href="/nha-dat-cho-thue"
            target="_blank"
            title="Bất động sản cho thuê"
            class="re__link-pr"
            >bất động sản cho thuê</a
          >
          như: thuê phòng trọ, nhà riêng,
          <a
            href="/cho-thue-nha-biet-thu-lien-ke"
            target="_blank"
            title="Thuê biệt thự"
            class="re__link-pr"
            >thuê biệt thự</a
          >, văn phòng, kho xưởng hay
          <a
            href="/cho-thue-sang-nhuong-cua-hang-ki-ot"
            target="_blank"
            title="Thuê mặt bằng"
            class="re__link-pr"
            >thuê mặt bằng</a
          >
          kinh doanh giúp bạn nhanh chóng tìm được bất động sản ưng ý.
        </div>
      </div>
      <div class="intro-item">
        <div class="intro-img">
          <a href="/nha-moi-gioi" title="Môi giới viên"
            ><img
              src="https://staticfile.batdongsan.com.vn/images/box-link-footer/Projects.svg"
              alt="Đánh giá dự án"
          /></a>
        </div>
        <div class="intro-title">Môi giới viên</div>
        <div class="intro-desc">
          Các
          <a href="/nha-moi-gioi" title="Môi giới viên" class="re__link-pr"
            >môi giới viên chuyên nghiệp</a
          >
          với kinh nghiệm và hiểu biết sâu rộng sẽ giúp bạn tìm kiếm và lựa chọn
          các dự án bất động sản phù hợp nhất, mang đến giải pháp tối ưu cho nhu
          cầu nhà ở hoặc đầu tư của bạn.
        </div>
      </div>
      <div class="intro-item">
        <div class="intro-img">
          <a href="/tin-tuc" title="Tin tức"
            ><img
              src="https://staticfile.batdongsan.com.vn/images/box-link-footer/Wiki.svg"
              alt="Wiki BĐS"
          /></a>
        </div>
        <div class="intro-title">Tin tức</div>
        <div class="intro-desc">
          Ngoài việc cung cấp các thông tin cập nhật mới nhất về thị trường bất
          động sản, chuyên mục
          <a href="/tin-tuc" title="Tin tức" class="re__link-pr">Tin tức</a> còn
          mang đến các kiến thức phong thủy, thiết kế nhà, và nhiều thông tin
          hữu ích khác, giúp bạn đưa ra quyết định đúng đắn trong hành trình tìm
          kiếm căn nhà mơ ước.
        </div>
      </div>
    </div>
  </div>
</div>
