<header class="re__full-menu re__header js__menu-bar re__hover-menu re__fix">
  <div class="re__container-sm">
    <div class="re__nav" id="naga">
      <a
        href="javascript:void(0)"
        id="nav_back"
        rel="nofollow"
        title="Danh mục"
        class="re__fleft re__back re__hide"
      >
        <div class="re__state-icon--md">
          <i class="re__icon-arrow-left"></i>
        </div>
      </a>

      <h1>
        <a href="https://batdongsan.com.vn " title="Nhà đất">
          <img
            src="https://staticfile.batdongsan.com.vn/images/logo/standard/red/logo.svg"
            error-image-src="https://staticfile.batdongsan.com.vn/images/logo/standard/red/logo.png"
            alt="Website Số 1 Về Bất Động Sản - Mua, Bán, Cho Thuê Nhà Đất Toàn Quốc"
            title="Website Số 1 Về Bất Động Sản - Mua, Bán, Cho Thuê Nhà Đất Toàn Quốc"
          />
        </a>
      </h1>
      <a
        data-href="/tin-da-luu"
        id="saveList"
        rel="nofollow"
        title="Danh mục"
        class="re__fright re__save js__marked-products-redirect-url"
        kyc-tracking-id="view_all_fav_listings"
        tracking-label="loc=header"
      >
        <div class="re__btn-content">
          <div class="re__state-icon--md">
            <i class="re__icon-heart"></i>
          </div>
          <span class="re__notification re__hide">0</span>
        </div>
      </a>
      <a
        href="javascript:void(0)"
        id="nav_list"
        rel="nofollow"
        title="Danh mục"
        class="re__fright re__menu in"
      >
        <div class="re__btn-content">
          <div class="re__state-icon--md">
            <i class="re__icon-menu-hamburger"></i>
          </div>
          <span class="re__notification re__hide"> 1 </span>
        </div>
      </a>
    </div>
    <div class="re__bg-pushmenu"></div>
  </div>
  <div class="re__menu-bar re__pushmenu re__pushmenu-right floating--right">
    <div class="re__control-menu">
      <div>
        <div
          class="re__login-group"
          aria-label="Danh sách tin đã lưu"
          data-microtip-position="bottom"
          role="tooltip"
        >
          <div class="re__notification" id="notiSave">
            <div class="re__all-btn">
              <a
                class="re__btn re__btn-se-ghost--sm re__btn-icon--sm re__iconNotiSave"
              >
              </a>
              <i
                class="re__mnu-notify-icon-unread re__nqv"
                style="display: none"
                >0</i
              >
            </div>
            <div class="re__marked-products-popup" style="display: none">
              <div class="re__header re__header-fix">Tin đăng đã lưu</div>
              <div class="re__content">
                <p class="re__center" style="padding: 80px 0 80px">
                  <img
                    src="https://staticfile.batdongsan.com.vn/images/empty-state.svg"
                    alt="no data"
                  />
                </p>
              </div>
              <div class="re__footer" style="display: none !important">
                <a
                  class="re__marked-products-view-more re__link-pr js__marked-products-redirect-url"
                  data-href="/tin-da-luu"
                  title="Xem tất cả"
                  tracking-id="view_all_fav_listings"
                  tracking-label="loc=header"
                >
                  <span>Xem tất cả</span
                  ><i class="re__icon-arrow-right--sm"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="divUserStt">
        <a
          th:href="@{/login}"
          class="re__btn re__btn-se-border--sm re__btn-se-ghost--sm"
          rel="nofollow"
          id="kct_login"
          tracking-id="user-login-seller"
          tracking-label="loc=Header"
          >Đăng nhập</a
        >
        <span class="re__line"></span>
        <a
          th:href="@{/register}"
          class="re__btn re__btn-pr-solid--sm re__btn-se-ghost--sm"
          rel="nofollow"
          id="kct_register"
          tracking-id="sign-up-button-seller"
          tracking-label="loc=Header"
          >Đăng ký</a
        >
      </div>
    </div>

    <div class="re__drop-menu">
      <div class="re__left-menu">
        <h1>
          <a th:href="@{/}">
            <img
              src="https://staticfile.batdongsan.com.vn/images/logo/standard/red/logo.svg"
              error-image-src="https://staticfile.batdongsan.com.vn/images/logo/standard/red/logo.png"
              alt="Kênh thông tin mua bán, cho thuê nhà đất số 1"
              title="Batdongsan.com.vn"
            />
          </a>
        </h1>
      </div>
      <div class="re__right-menu">
        <!--Header menu-->
        <div class="re__home-header-menu">
          <div class="re__home-header-menu">
            <ul class="re__dropdown-no-art--sm re__dropdown-navigative-menu">
              <li class="lv0 tablet">
                <a href="/sellernet/quan-ly-tin-rao-ban-cho-thue">
                  <span class="icon">
                    <img
                      class="lazyloaded"
                      data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/litsting.svg"
                      src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/litsting.svg"
                    />
                  </span>
                  <span class="text">Danh sách tin</span>
                </a>
              </li>
              <li class="lv0 tablet">
                <a href="/sellernet/tin-tai-tro">
                  <span class="icon">
                    <img
                      class="lazyloaded"
                      data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/ad.svg"
                      src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/ad.svg"
                    />
                  </span>
                  <span class="text">Quản lý tin tài trợ</span>
                </a>
              </li>
              <li class="lv0 tablet">
                <a href="/tin-da-luu">
                  <span class="icon">
                    <img
                      class="lazyloaded"
                      data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/heart.svg"
                      src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/heart.svg"
                    />
                  </span>
                  <span class="text">Tin đăng đã lưu</span>
                </a>
              </li>
              <li class="lv0 tablet">
                <a href="https://batdongsan.com.vn">
                  <span class="icon">
                    <img
                      class="lazyloaded"
                      data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/home.svg"
                      src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/home.svg"
                    />
                  </span>
                  <span class="text">Trang chủ</span>
                </a>
              </li>
              <li class="lv0">
                <a href="/nha-dat-ban" class="haslink">
                  <span class="icon">
                    <img
                      class="lazyloaded"
                      data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/all.svg"
                      src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/all.svg"
                    />
                  </span>
                  <span class="text">Nhà đất bán</span>
                </a>
                <div class="re__arrrow"></div>
                <!--                                <ul class="re__dropdown-no-art&#45;&#45;sm">-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-can-ho-chung-cu" class="haslink">Bán căn hộ chung-->
                <!--                                            cư</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-can-ho-chung-cu-mini" class="haslink">Bán chung cư-->
                <!--                                            mini, căn hộ dịch vụ <span class="new-label"></span></a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-nha-rieng" class="haslink">Bán nhà riêng</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-nha-biet-thu-lien-ke" class="haslink">Bán nhà biệt-->
                <!--                                            thự, liền kề</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-nha-mat-pho" class="haslink">Bán nhà mặt phố</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-shophouse-nha-pho-thuong-mai" class="haslink">Bán-->
                <!--                                            shophouse, nhà phố thương mại</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-dat-nen-du-an" class="haslink">Bán đất nền dự án</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-dat" class="haslink">Bán đất</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-trang-trai-khu-nghi-duong" class="haslink">Bán trang-->
                <!--                                            trại, khu nghỉ dưỡng</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-condotel" class="haslink">Bán condotel</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-kho-nha-xuong" class="haslink">Bán kho, nhà xưởng</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/ban-loai-bat-dong-san-khac" class="haslink">Bán loại bất-->
                <!--                                            động sản khác</a>-->
                <!--                                    </li>-->
                <!--                                </ul>-->
              </li>
              <li class="lv0">
                <a href="/nha-dat-cho-thue" class="haslink">
                  <span class="icon">
                    <img
                      class="lazyloaded"
                      data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/complex.svg"
                      src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/complex.svg"
                    />
                  </span>
                  <span class="text">Nhà đất cho thuê</span>
                </a>
                <div class="re__arrrow"></div>
                <!--                                <ul class="re__dropdown-no-art&#45;&#45;sm">-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-can-ho-chung-cu" class="haslink">Cho thuê căn hộ-->
                <!--                                            chung cư</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-can-ho-chung-cu-mini" class="haslink">Cho thuê-->
                <!--                                            chung cư mini, căn hộ dịch vụ <span-->
                <!--                                                    class="new-label"></span></a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-nha-rieng" class="haslink">Cho thuê nhà riêng</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-nha-biet-thu-lien-ke" class="haslink">Cho thuê-->
                <!--                                            nhà biệt thự, liền kề</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-nha-mat-pho" class="haslink">Cho thuê nhà mặt-->
                <!--                                            phố</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-shophouse-nha-pho-thuong-mai" class="haslink">Cho-->
                <!--                                            thuê shophouse, nhà phố thương mại</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-nha-tro-phong-tro" class="haslink">Cho thuê nhà-->
                <!--                                            trọ, phòng trọ</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-van-phong" class="haslink">Cho thuê văn phòng</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-sang-nhuong-cua-hang-ki-ot" class="haslink">Cho-->
                <!--                                            thuê, sang nhượng cửa hàng, ki ốt</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-kho-nha-xuong-dat" class="haslink">Cho thuê kho,-->
                <!--                                            nhà xưởng, đất</a>-->
                <!--                                    </li>-->
                <!--                                    <li class="lv1 ">-->
                <!--                                        <a href="/cho-thue-loai-bat-dong-san-khac" class="haslink">Cho thuê-->
                <!--                                            loại bất động sản khác</a>-->
                <!--                                    </li>-->
                <!--                                </ul>-->
              </li>

              <li class="lv0 re__no-child">
                <a href="/tin-tuc" class="haslink">
                  <span class="icon">
                    <img
                      class="lazyloaded"
                      data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/news.svg"
                      src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/news.svg"
                    />
                  </span>
                  <span class="text">Tin tức</span>
                </a>
                <div class="re__arrrow"></div>
              </li>

              <li class="lv0 re__dropdown re__danh-ba">
                <a href="/nha-moi-gioi">
                  <span class="icon">
                    <img
                      class="lazyloaded"
                      data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/notebook.svg"
                      src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/notebook.svg"
                    />
                  </span>
                  <span class="text">Danh bạ</span>
                </a>
              </li>
              <li class="re__btn-menu lv0">
                <span class="re__btn re__btn-se-ghost--md re__btn-icon--md">
                  <i class="re__icon-browse"></i>
                </span>
                <ul class="re__bg">
                  <li class="lvb">
                    <a href="/phan-tich-danh-gia" class="haslink">
                      <span class="icon">
                        <img
                          class="lazyload"
                          data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/barchart.svg"
                        />
                      </span>
                      <span class="text">Phân tích đánh giá</span>
                    </a>
                    <ul class="re__dropdown-no-art--sm">
                      <li class="lv1">
                        <a
                          href="/phan-tich-danh-gia/bieu-do-gia"
                          class="haslink"
                          >Biểu đồ giá</a
                        >
                      </li>
                      <li class="lv1">
                        <a
                          href="/phan-tich-danh-gia/video-danh-gia"
                          class="haslink"
                          >Video đánh giá</a
                        >
                      </li>
                      <li class="lv1">
                        <a
                          href="https://research.batdongsan.com.vn/"
                          class="haslink"
                          >Báo cáo thị trường</a
                        >
                      </li>
                      <li class="lv1">
                        <a
                          href="/phan-tich-danh-gia/goc-nhin-chuyen-gia"
                          class="haslink"
                          >Góc nhìn chuyên gia</a
                        >
                      </li>
                      <li class="lv1">
                        <a href="/interaktivestory" class="haslink"
                          >Interkative Story</a
                        >
                      </li>
                    </ul>
                    <span class="re__arrrow"></span>
                  </li>
                  <li class="lvb">
                    <a href="javascript:void(0);" class="nolink">
                      <span class="icon">
                        <img
                          class="lazyload"
                          data-src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/outlined/notebook.svg"
                        />
                      </span>
                      <span class="text">Danh bạ</span>
                    </a>
                    <ul class="re__dropdown-no-art--sm">
                      <li class="lv1">
                        <a href="/nha-moi-gioi" class="haslink">Nhà môi giới</a>
                      </li>
                      <li class="lv1">
                        <a href="/doanh-nghiep" class="haslink">Doanh nghiệp</a>
                      </li>
                    </ul>
                    <span class="re__arrrow"></span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
</header>
