<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <span class="menu-title">Trang chủ</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>


    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#icons"
        aria-expanded="false"
        aria-controls="icons"
      >
        <span class="menu-title">Quản lý tài chính</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/manager-package">Quản lý gói tin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manager-history">Lịch sử giao dịch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/package-statistics">Thống kê doanh thu</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/manager-list">
        <span class="menu-title">Quản lý bài đăng</span>
        <i class="mdi mdi-file-document-box menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/manager-customer">
        <span class="menu-title">Quản lý người dùng</span>
        <i class="mdi mdi-file-document-box menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="admin-change">
        <span class="menu-title">Đổi mật khẩu</span>
        <i class="mdi mdi-file-document-box menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
